<div class="container hr">
  <%= javascript_pack_tag 'people' %>

  <div class="people_new">
    <h1><%= t('people.new_person') %></h1>
    <%= link_to t('global.back'), people_path, class: "btn btn-primary" %>
    <p></p>
    <%= render 'form', person: @person %>
  </div>
</div>